div{
    
    margin: 5px;
    background-color: #ddd;
    padding: 10px;;
    border-radius: 10px;
    margin-top: 70px;;
}

label{
    padding-top: 10px;;
    display: flex;;
    flex-direction: row;;
    justify-content: center;
    align-items: center;;
    color: goldenrod;;
    font-weight: bold;;
    
    svg{
        width: 20px;;
    }
}

button{
    margin: auto;;
    width: 50%;
    display: flex;;
    flex-direction: row;;
    align-items: center;;
    justify-content: center;;
    border-radius: 10px;
    border: solid 2px goldenrod;
    margin-top: 25px;
    
    svg{
        width: 25px;;
    }

}