div{
    width: 100%;
    height: 40px;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
}

p{
    font-weight: bold;
    color: #222;
    font-size: 2rem;
}