div:nth-of-type(1){
    margin-top: 70px;
}

div{
    margin: 5px;
    background-color: #ddd;
    padding: 10px;;
    max-height: 110px;;
    border-radius: 10px;

    label{
        padding-top: 10px;;
        display: flex;;
        flex-direction: row;;
        justify-content: center;
        align-items: center;;
        color: goldenrod;;
        font-weight: bold;;
        
        svg{
            width: 20px;;
        }
    }

    h3{
        color: #333;
        margin: 7px;
        display: block;
        white-space:nowrap ;
        text-overflow: ellipsis; 
        overflow: hidden;
        max-width: 100%;;
    }

    p{
        color: #666;
        display: block;
        white-space:nowrap ;
        text-overflow: ellipsis; 
        overflow: hidden;
        max-width: 100%;;
        margin: 0;
        margin-left: 7px;;
        margin-right: 7px;;
    }
}

div:hover{
    cursor: pointer;
    border: solid 2px goldenrod;
}